.Goals-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-bottom: 4em;
}

.Goals-container svg {
  color: #3c6eda;
}

.Goals-container h1 {
  font-weight: 400;
  color: #444444;
}

.cardGoals,
.newGoals {
  margin: 8px 16px;
  padding: 8px 8px;
  width: 300px;
  border: 1px solid #d3d3d3;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.563) !important;
}

.cardTitle {
  cursor: pointer;
}

.cardTitle :hover {
  background-color: darkgray;
}

.cardBoxHowMuch,
.cardHowMuch {
  margin: 4px 0;
  padding: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 200px;
  height: 6px;
  border-radius: 50px;
  background-color: rgb(208, 208, 208);
}

.cardHowMuch {
  background-color: #3ba597;
}

.flexGoals {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newIcon {
  cursor: pointer;
}

.habits-container > h1 {
  font-size: 1.1em;
  font-weight: 500;
  color: #3c6eda;
}

.buttons-edit-goals,
.buttons-goal,
.buttons-activity {
  display: flex;
  justify-content: space-evenly;
}

.goals-edit h1,
.create-goal h1,
.new-activity h1,
.edit-activities h1 {
  font-weight: 300;
  text-align: center;
}
