.info h1 {
  font-weight: 500;
}

.info-container {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em;
}

.info-card,
.info-card-about {
  display: grid;
  width: 20em;
  height: 8em;
  padding: 1em;
  margin: 0 0.3em;
  line-height: 1.9em;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 8px;
  grid-template-rows: 80% 10%;
}

.info-card-about {
  height: 20em;
}

.info-container > div {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.563);
}

.info-container h2 {
  font-size: 1.2em;
  text-align: left;
  font-weight: 400;
  color: #3c6eda;
  margin-bottom: 0.3em;
}

.info-container p,
.about p {
  padding: 0.05rem;
  line-height: 1.3em;
  font-size: 0.8em;
  font-weight: 400;
  text-align: left;
  display: grid;
  grid-template-columns: 6em 50%;
}

.about p {
  grid-template-columns: 10em 50%;
}

.info-container span {
  font-weight: 300;
  color: #203f5a;
  font-size: 1.1em;
}

.info-card button {
  background-color: #3ba597;
  border: none;
  height: 2.2em;
}

.info-kenzie {
  font-size: 1.2em;
  text-align: center;
  font-weight: 500;
  color: rgb(237, 237, 237);
  cursor: pointer;
  margin-bottom: 0.3em;
  background-color: #3ba597;
  border-radius: 6px;
}

.info-iconHome {
  cursor: pointer;
}
