.habit-create-container {
  font-size: 16px;
}

.habit-create-container h2 {
  font-size: 1.2em;
  text-align: center;
  font-weight: 400;
  color: #3c6eda;
  margin-bottom: 0.3em;
}

.habit-create-container form {
  display: flex;
  flex-direction: column;
}

.habit-create-buttons {
  display: flex;
  justify-content: space-between;
}

.habit-create-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #3c6eda;
  border: none;
  outline: none;
}
