.home-container {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: flex-start;
  justify-content: center;
}

.home-card-container {
  padding: 1em;
  margin: 1em;
  width: 25em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  font-size: 16px;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 8px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.563);
  background-color: rgba(195, 237, 238, 0.576);
}

.home-username {
  color: rebeccapurple;
}

.home-card-container p {
  line-height: 2rem;
}
