.habits-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-bottom: 1em;
  width: 100%;
}

.habits-container > div {
  width: 110%;
}

.habits-container h1 {
  font-size: 1em;
}

.habits-container svg {
  color: #3c6eda;
}

.habits-container h2 {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  padding: 0.5em;
  border-radius: 8px;
  font-weight: 500;
  color: #404945;
  text-transform: uppercase;
  background-color: #2374ee06;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.563);
}

.habits-container h1 {
  font-weight: 500;
  color: #203f5a;
}

.cardHabits,
.newHabits {
  margin: 8px 10px;
  padding: 8px 8px;
  width: 300px;
  border: 1px solid #d3d3d3;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.563) !important;
}

.cardTitle {
  cursor: pointer;
}

.cardTitle :hover {
  background-color: darkgray;
}

.cardBoxHowMuch,
.cardHowMuch {
  margin: 4px 0;
  padding: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 200px;
  height: 6px;
  border-radius: 50px;
  background-color: rgb(208, 208, 208);
}

.cardHowMuch {
  background-color: #3ba597;
}

.flexHabits {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newIcon {
  cursor: pointer;
}

.habits-container > div {
  padding-top: 1em;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 950px) {
  .habits-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
