.groups-container {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em;
  margin: 0 !important;
}

.group-card {
  display: grid;
  width: 16em;
  height: 15em;
  padding: 1em;
  margin: 1em;
  line-height: 1.9em;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 8px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.563);
  grid-template-rows: 80% 10%;
}

.group-card > div {
  height: 100%;
}

.groups-container h2 {
  width: 100%;
  text-align: center;
  border-radius: 8px;
  font-weight: 500;
  color: #404945;
  text-transform: uppercase;
  background-color: #2374ee06;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.563);
  margin-bottom: 10px;
}

.groups-container p {
  width: 15em;
  line-height: 1.4em;
  font-size: 1em;
  font-weight: 300;
  text-align: justify;
  display: grid;
  grid-template-columns: 5.5em 70%;
}

.groups-container span {
  font-weight: 400;
  color: #203f5a;
}

.groups-container section {
  text-align: left;
  margin-left: 0.3em;
}

.group-card button {
  background-color: #416788;
  border: none;
  height: 2.2em;
  transition: background-color 0.5s;
  font-weight: 500;
}

.groups-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 2em;
}

.groups-pagination button {
  background-color: #416788;
  border: none;
  padding: 4px;
  transition: background-color 0.5s;
}

.group-card button:hover {
  background-color: #3ba597;
  transform: scale(1.02);
}

button {
  outline: none;
}

.groups-pagination button:hover {
  background-color: #3ba597;
  transform: scale(1.04);
}
