.activities-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.activities-container svg {
  color: #3c6eda;
}

.activities-container h1 {
  font-weight: 400;
  color: #444444;
}

.cardActivities,
.newActivities {
  margin: 8px 16px;
  padding: 8px 8px;
  width: 300px;
  border: 1px solid #d3d3d3;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.563) !important;
}

.cardTitle {
  cursor: pointer;
}

.cardTitle :hover {
  background-color: darkgray;
}

.cardBoxHowMuch,
.cardHowMuch {
  margin: 4px 0;
  padding: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 200px;
  height: 6px;
  border-radius: 50px;
  background-color: rgb(208, 208, 208);
}

.cardHowMuch {
  background-color: #3ba597;
}

.flexActivities {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newIcon {
  cursor: pointer;
}
